@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    min-height: 100vh;
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    align-items: center;
    margin: 5rem 0 25rem 0;
    padding: 0;
    }

    /* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
  body {margin: 5rem 0 50rem 0;}

}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
  body {margin: 5rem 0 50rem 0;}

}

/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
  body {margin: 5rem 0 50rem 0;}

}

    @media (min-height: 800px) {
      body {margin: 5rem 0 10rem 0;}

    }

    @media (min-height: 1000px) {
      body {margin: 5rem 0 8rem 0;}

    }


